@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Geist Mono';
	src: url('/fonts/GeistMonoVariableVF.ttf');
	font-display: swap;
}

@layer base {
	:root,
	.light,
	[data-theme='light'] {
		color-scheme: light;

		--gray-100-value: 0 0% 95%;
		--gray-200-value: 0 0% 92%;
		--gray-300-value: 0 0% 90%;
		--gray-400-value: 0 0% 92%;
		--gray-500-value: 0 0% 79%;
		--gray-600-value: 0 0% 66%;
		--gray-700-value: 0 0% 56%;
		--gray-800-value: 0 0% 49%;
		--gray-900-value: 0 0% 40%;
		--gray-1000-value: 0 0% 9%;
		--blue-100-value: 212 100% 97%;
		--blue-200-value: 210 100% 96%;
		--blue-300-value: 210 100% 94%;
		--blue-400-value: 209 100% 90%;
		--blue-500-value: 209 100% 80%;
		--blue-600-value: 208 100% 66%;
		--blue-700-value: 212 100% 48%;
		--blue-800-value: 212 100% 41%;
		--blue-900-value: 211 100% 42%;
		--blue-1000-value: 211 100% 15%;
		--red-100-value: 0 100% 97%;
		--red-200-value: 0 100% 96%;
		--red-300-value: 0 100% 95%;
		--red-400-value: 0 90% 92%;
		--red-500-value: 0 82% 85%;
		--red-600-value: 359 90% 71%;
		--red-700-value: 358 75% 59%;
		--red-800-value: 358 70% 52%;
		--red-900-value: 358 66% 48%;
		--red-1000-value: 355 49% 15%;
		--amber-100-value: 39 100% 95%;
		--amber-200-value: 44 100% 92%;
		--amber-300-value: 43 96% 90%;
		--amber-400-value: 42 100% 78%;
		--amber-500-value: 38 100% 71%;
		--amber-600-value: 36 90% 62%;
		--amber-700-value: 39 100% 57%;
		--amber-800-value: 35 100% 52%;
		--amber-900-value: 30 100% 32%;
		--amber-1000-value: 20 79% 17%;
		--green-100-value: 120 60% 96%;
		--green-200-value: 120 60% 95%;
		--green-300-value: 120 60% 91%;
		--green-400-value: 122 60% 86%;
		--green-500-value: 124 60% 75%;
		--green-600-value: 125 60% 64%;
		--green-700-value: 131 41% 46%;
		--green-800-value: 132 43% 39%;
		--green-900-value: 133 50% 32%;
		--green-1000-value: 128 29% 15%;
		--teal-100-value: 169 70% 96%;
		--teal-200-value: 167 70% 94%;
		--teal-300-value: 168 70% 90%;
		--teal-400-value: 170 70% 85%;
		--teal-500-value: 170 70% 72%;
		--teal-600-value: 170 70% 57%;
		--teal-700-value: 173 80% 36%;
		--teal-800-value: 173 83% 30%;
		--teal-900-value: 174 91% 25%;
		--teal-1000-value: 171 80% 13%;
		--purple-100-value: 276 100% 97%;
		--purple-200-value: 277 87% 97%;
		--purple-300-value: 274 78% 95%;
		--purple-400-value: 276 71% 92%;
		--purple-500-value: 274 70% 82%;
		--purple-600-value: 273 72% 73%;
		--purple-700-value: 272 51% 54%;
		--purple-800-value: 272 47% 45%;
		--purple-900-value: 274 71% 43%;
		--purple-1000-value: 276 100% 15%;
		--pink-100-value: 330 100% 96%;
		--pink-200-value: 340 90% 96%;
		--pink-300-value: 340 82% 94%;
		--pink-400-value: 341 76% 91%;
		--pink-500-value: 340 75% 84%;
		--pink-600-value: 341 75% 73%;
		--pink-700-value: 336 80% 58%;
		--pink-800-value: 336 74% 51%;
		--pink-900-value: 336 65% 45%;
		--pink-1000-value: 333 74% 15%;
		--gray-alpha-100: rgba(0 0 0 / 5%);
		--gray-alpha-200: rgba(0 0 0 / 8%);
		--gray-alpha-300: rgba(0 0 0 / 10%);
		--gray-alpha-400: rgba(0 0 0 / 8%);
		--gray-alpha-500: rgba(0 0 0 / 21%);
		--gray-alpha-600: rgba(0 0 0 / 34%);
		--gray-alpha-700: rgba(0 0 0 / 44%);
		--gray-alpha-800: rgba(0 0 0 / 51%);
		--gray-alpha-900: rgba(0 0 0 / 61%);
		--gray-alpha-1000: rgba(0 0 0 / 91%);
		--background-100: #fff;
		--background-200: #fafafa;
	}

	.dark,
	[data-theme='dark'] {
		color-scheme: dark;

		--gray-100-value: 0 0% 10%;
		--gray-200-value: 0 0% 12%;
		--gray-300-value: 0 0% 16%;
		--gray-400-value: 0 0% 18%;
		--gray-500-value: 0 0% 27%;
		--gray-600-value: 0 0% 53%;
		--gray-700-value: 0 0% 56%;
		--gray-800-value: 0 0% 49%;
		--gray-900-value: 0 0% 63%;
		--gray-1000-value: 0 0% 93%;
		--blue-100-value: 216 50% 12%;
		--blue-200-value: 214 59% 15%;
		--blue-300-value: 213 71% 20%;
		--blue-400-value: 212 78% 23%;
		--blue-500-value: 211 86% 27%;
		--blue-600-value: 206 100% 50%;
		--blue-700-value: 212 100% 48%;
		--blue-800-value: 212 100% 41%;
		--blue-900-value: 210 100% 66%;
		--blue-1000-value: 206 100% 96%;
		--red-100-value: 357 37% 12%;
		--red-200-value: 357 46% 16%;
		--red-300-value: 356 54% 22%;
		--red-400-value: 357 55% 26%;
		--red-500-value: 357 60% 32%;
		--red-600-value: 358 75% 59%;
		--red-700-value: 358 75% 59%;
		--red-800-value: 358 69% 52%;
		--red-900-value: 358 100% 69%;
		--red-1000-value: 353 90% 96%;
		--amber-100-value: 35 100% 8%;
		--amber-200-value: 32 100% 10%;
		--amber-300-value: 33 100% 15%;
		--amber-400-value: 35 100% 17%;
		--amber-500-value: 35 91% 22%;
		--amber-600-value: 39 85% 49%;
		--amber-700-value: 39 100% 57%;
		--amber-800-value: 35 100% 52%;
		--amber-900-value: 35 100% 52%;
		--amber-1000-value: 40 94% 93%;
		--green-100-value: 136 50% 9%;
		--green-200-value: 137 50% 12%;
		--green-300-value: 136 50% 14%;
		--green-400-value: 135 70% 16%;
		--green-500-value: 135 70% 23%;
		--green-600-value: 135 70% 34%;
		--green-700-value: 131 41% 46%;
		--green-800-value: 132 43% 39%;
		--green-900-value: 131 43% 57%;
		--green-1000-value: 136 73% 94%;
		--teal-100-value: 169 78% 7%;
		--teal-200-value: 170 74% 9%;
		--teal-300-value: 171 75% 13%;
		--teal-400-value: 171 85% 13%;
		--teal-500-value: 172 85% 20%;
		--teal-600-value: 172 85% 32%;
		--teal-700-value: 173 80% 36%;
		--teal-800-value: 173 83% 30%;
		--teal-900-value: 174 90% 41%;
		--teal-1000-value: 166 71% 93%;
		--purple-100-value: 283 30% 12%;
		--purple-200-value: 281 38% 16%;
		--purple-300-value: 279 44% 23%;
		--purple-400-value: 277 46% 28%;
		--purple-500-value: 274 49% 35%;
		--purple-600-value: 272 51% 54%;
		--purple-700-value: 272 51% 54%;
		--purple-800-value: 272 47% 45%;
		--purple-900-value: 275 80% 71%;
		--purple-1000-value: 281 73% 96%;
		--pink-100-value: 335 32% 12%;
		--pink-200-value: 335 43% 16%;
		--pink-300-value: 335 47% 21%;
		--pink-400-value: 335 51% 22%;
		--pink-500-value: 335 57% 27%;
		--pink-600-value: 336 75% 40%;
		--pink-700-value: 336 80% 58%;
		--pink-800-value: 336 74% 51%;
		--pink-900-value: 341 90% 67%;
		--pink-1000-value: 333 90% 96%;
		--gray-alpha-100: hsla(0 0% 100% / 6%);
		--gray-alpha-200: hsla(0 0% 100% / 9%);
		--gray-alpha-300: hsla(0 0% 100% / 13%);
		--gray-alpha-400: hsla(0 0% 100% / 14%);
		--gray-alpha-500: hsla(0 0% 100% / 24%);
		--gray-alpha-600: hsla(0 0% 100% / 51%);
		--gray-alpha-700: hsla(0 0% 100% / 54%);
		--gray-alpha-800: hsla(0 0% 100% / 47%);
		--gray-alpha-900: hsla(0 0% 100% / 61%);
		--gray-alpha-1000: hsla(0 0% 100% / 92%);
		--background-100: #0a0a0a;
		--background-200: #000;
	}

	@media (color-gamut: p3) {
		@supports (color: oklch(0 0 0)) {
			:root {
				--blue-100-value: oklch(97.32% 0.0141 251.56);
				--blue-200-value: oklch(96.29% 0.0195 250.59);
				--blue-300-value: oklch(94.58% 0.0293 249.8487);
				--blue-400-value: oklch(91.58% 0.0473 245.1162);
				--blue-500-value: oklch(82.75% 0.0979 248.48);
				--blue-600-value: oklch(73.08% 0.1583 248.1333);
				--blue-700-value: oklch(57.61% 0.2508 258.23);
				--blue-800-value: oklch(51.51% 0.2399 257.85);
				--blue-900-value: oklch(53.18% 0.2399 256.9901);
				--blue-1000-value: oklch(26.67% 0.1099 254.34);
				--red-100-value: oklch(96.5% 0.0223 13.09);
				--red-200-value: oklch(95.41% 0.0299 14.2526);
				--red-300-value: oklch(94.33% 0.0369 15.0115);
				--red-400-value: oklch(91.51% 0.0471 19.8);
				--red-500-value: oklch(84.47% 0.1018 17.71);
				--red-600-value: oklch(71.12% 0.1881 21.22);
				--red-700-value: oklch(62.56% 0.2524 23.03);
				--red-800-value: oklch(58.19% 0.2482 25.15);
				--red-900-value: oklch(54.99% 0.232 25.29);
				--red-1000-value: oklch(24.8% 0.1041 18.86);
				--amber-100-value: oklch(97.48% 0.0331 85.79);
				--amber-200-value: oklch(96.81% 0.0495 90.2423);
				--amber-300-value: oklch(95.93% 0.0636 90.52);
				--amber-400-value: oklch(91.02% 0.1322 88.25);
				--amber-500-value: oklch(86.55% 0.1583 79.63);
				--amber-600-value: oklch(80.25% 0.1953 73.59);
				--amber-700-value: oklch(81.87% 0.1969 76.46);
				--amber-800-value: oklch(77.21% 0.1991 64.28);
				--amber-900-value: oklch(52.79% 0.1496 54.65);
				--amber-1000-value: oklch(30.83% 0.099 45.48);
				--green-100-value: oklch(97.59% 0.0289 145.42);
				--green-200-value: oklch(96.92% 0.037 147.15);
				--green-300-value: oklch(94.6% 0.0674 144.23);
				--green-400-value: oklch(91.49% 0.0976 146.24);
				--green-500-value: oklch(85.45% 0.1627 146.3);
				--green-600-value: oklch(80.25% 0.214 145.18);
				--green-700-value: oklch(64.58% 0.1746 147.27);
				--green-800-value: oklch(57.81% 0.1507 147.5);
				--green-900-value: oklch(51.75% 0.1453 147.65);
				--green-1000-value: oklch(29.15% 0.1197 147.38);
				--teal-100-value: oklch(97.72% 0.0359 186.7);
				--teal-200-value: oklch(97.06% 0.0347 180.66);
				--teal-300-value: oklch(94.92% 0.0478 182.07);
				--teal-400-value: oklch(92.76% 0.0718 183.78);
				--teal-500-value: oklch(86.88% 0.1344 182.42);
				--teal-600-value: oklch(81.5% 0.161 178.96);
				--teal-700-value: oklch(64.92% 0.1572 181.95);
				--teal-800-value: oklch(57.53% 0.1392 181.66);
				--teal-900-value: oklch(52.08% 0.1251 182.93);
				--teal-1000-value: oklch(32.11% 0.0788 179.82);
				--purple-100-value: oklch(96.65% 0.0244 312.189);
				--purple-200-value: oklch(96.73% 0.0228 309.8);
				--purple-300-value: oklch(94.85% 0.0364 310.15);
				--purple-400-value: oklch(91.77% 0.0614 312.82);
				--purple-500-value: oklch(81.26% 0.1409 310.8);
				--purple-600-value: oklch(72.07% 0.2083 308.19);
				--purple-700-value: oklch(55.5% 0.3008 306.12);
				--purple-800-value: oklch(48.58% 0.2638 305.73);
				--purple-900-value: oklch(47.18% 0.2579 304);
				--purple-1000-value: oklch(23.96% 0.13 305.66);
				--pink-100-value: oklch(95.69% 0.0359 344.6219);
				--pink-200-value: oklch(95.71% 0.0321 353.14);
				--pink-300-value: oklch(93.83% 0.0451 356.29);
				--pink-400-value: oklch(91.12% 0.0573 358.82);
				--pink-500-value: oklch(84.28% 0.0915 356.99);
				--pink-600-value: oklch(74.33% 0.1547 0.24);
				--pink-700-value: oklch(63.52% 0.238 1.01);
				--pink-800-value: oklch(59.51% 0.2339 4.21);
				--pink-900-value: oklch(53.5% 0.2058 2.84);
				--pink-1000-value: oklch(26% 0.0977 359);
			}

			.dark,
			[data-theme='dark'] {
				--blue-100-value: oklch(22.17% 0.069 259.89);
				--blue-200-value: oklch(25.45% 0.0811 255.8);
				--blue-300-value: oklch(30.86% 0.1022 255.21);
				--blue-400-value: oklch(34.1% 0.121 254.74);
				--blue-500-value: oklch(38.5% 0.1403 254.4);
				--blue-600-value: oklch(64.94% 0.1982 251.8132);
				--blue-700-value: oklch(57.61% 0.2321 258.23);
				--blue-800-value: oklch(51.51% 0.2307 257.85);
				--blue-900-value: oklch(71.7% 0.1648 250.7936);
				--blue-1000-value: oklch(96.75% 0.0179 242.4234);
				--red-100-value: oklch(22.1% 0.0657 15.11);
				--red-200-value: oklch(25.93% 0.0834 19.02);
				--red-300-value: oklch(31.47% 0.1105 20.96);
				--red-400-value: oklch(35.27% 0.1273 21.23);
				--red-500-value: oklch(40.68% 0.1479 23.16);
				--red-600-value: oklch(62.56% 0.2277 23.03);
				--red-700-value: oklch(62.56% 0.2234 23.03);
				--red-800-value: oklch(58.01% 0.227 25.12);
				--red-900-value: oklch(69.96% 0.2136 22.03);
				--red-1000-value: oklch(95.6% 0.0293 6.61);
				--amber-100-value: oklch(22.46% 0.0538 76.04);
				--amber-200-value: oklch(24.95% 0.0642 64.78);
				--amber-300-value: oklch(32.34% 0.0837 63.83);
				--amber-400-value: oklch(35.53% 0.0903 66.2971);
				--amber-500-value: oklch(41.55% 0.1044 67.98);
				--amber-600-value: oklch(75.04% 0.1737 74.49);
				--amber-700-value: oklch(81.87% 0.1969 76.46);
				--amber-800-value: oklch(77.21% 0.1991 64.28);
				--amber-900-value: oklch(77.21% 0.1991 64.28);
				--amber-1000-value: oklch(96.7% 0.0418 84.59);
				--green-100-value: oklch(23.09% 0.0716 149.68);
				--green-200-value: oklch(27.12% 0.0895 150.09);
				--green-300-value: oklch(29.84% 0.096 149.25);
				--green-400-value: oklch(34.39% 0.1039 147.78);
				--green-500-value: oklch(44.19% 0.1484 147.2);
				--green-600-value: oklch(58.11% 0.1815 146.55);
				--green-700-value: oklch(64.58% 0.199 147.27);
				--green-800-value: oklch(57.81% 0.1776 147.5);
				--green-900-value: oklch(73.1% 0.2158 148.29);
				--green-1000-value: oklch(96.76% 0.056 154.18);
				--teal-100-value: oklch(22.1% 0.0544 178.74);
				--teal-200-value: oklch(25.06% 0.062 178.76);
				--teal-300-value: oklch(31.5% 0.0767 180.99);
				--teal-400-value: oklch(32.43% 0.0763 180.13);
				--teal-500-value: oklch(43.35% 0.1055 180.97);
				--teal-600-value: oklch(60.71% 0.1485 180.24);
				--teal-700-value: oklch(64.92% 0.1403 181.95);
				--teal-800-value: oklch(57.53% 0.1392 181.66);
				--teal-900-value: oklch(74.56% 0.1765 182.8);
				--teal-1000-value: oklch(96.46% 0.056 180.29);
				--purple-100-value: oklch(22.34% 0.0779 316.87);
				--purple-200-value: oklch(25.91% 0.0921 314.41);
				--purple-300-value: oklch(31.98% 0.1219 312.41);
				--purple-400-value: oklch(35.93% 0.1504 309.78);
				--purple-500-value: oklch(40.99% 0.1721 307.92);
				--purple-600-value: oklch(55.5% 0.2191 306.12);
				--purple-700-value: oklch(55.5% 0.2186 306.12);
				--purple-800-value: oklch(48.58% 0.2102 305.73);
				--purple-900-value: oklch(69.87% 0.2037 309.51);
				--purple-1000-value: oklch(96.1% 0.0304 316.46);
				--pink-100-value: oklch(22.67% 0.0628 354.73);
				--pink-200-value: oklch(26.2% 0.0859 356.68);
				--pink-300-value: oklch(31.15% 0.1067 355.93);
				--pink-400-value: oklch(32.13% 0.1174 356.71);
				--pink-500-value: oklch(37.01% 0.1453 358.39);
				--pink-600-value: oklch(50.33% 0.2089 4.33);
				--pink-700-value: oklch(63.52% 0.2346 1.01);
				--pink-800-value: oklch(59.51% 0.2429 4.21);
				--pink-900-value: oklch(69.36% 0.2223 3.91);
				--pink-1000-value: oklch(95.74% 0.0326 350.08);
			}
		}
	}

	body {
		@apply bg-background-100 text-gray-1000 transition-colors duration-200;
	}
}
