@import 'tailwindcss';

@layer utilities {
	@font-face {
		font-family: 'Geist Mono';
		src: url('/fonts/GeistMonoVariableVF.ttf');
		font-display: swap;
	}
}

/* prettier-ignore */
@utility auto-fit-* {
	grid-template-columns: repeat(auto-fit, minmax(min(--value(integer)px, 100%), 1fr));
}

/* prettier-ignore */
@utility auto-fill-* {
	grid-template-columns: repeat(auto-fill, minmax(min(--value(integer)px, 100%), 1fr));
}
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		@apply border-default;
	}

	button,
	[role='button'] {
		@apply cursor-pointer;
	}

	button:disabled,
	[role='button']:disabled {
		@apply cursor-default;
	}
	body {
		@apply bg-default text-gray-1000 h-dvh overflow-y-scroll antialiased transition-colors duration-200;
	}
	:root,
	.light,
	[data-theme='light'] {
		--theme-background-default: hsl(0, 0%, 100%);
		--theme-background-subtle: hsl(0, 0%, 98%);
		--theme-background-card: hsl(0, 0%, 100%);
		--theme-background-card-foreground: hsl(240, 10%, 3.9%);
		--theme-border-default: hsl(240, 5.9%, 90%);
		--theme-input-default: hsl(240, 5.9%, 90%);

		--theme-gray-100: hsla(0 0% 95% / 1);
		--theme-gray-200: hsla(0 0% 92% / 1);
		--theme-gray-300: hsla(0 0% 90% / 1);
		--theme-gray-400: hsla(0 0% 92% / 1);
		--theme-gray-500: hsla(0 0% 79% / 1);
		--theme-gray-600: hsla(0 0% 66% / 1);
		--theme-gray-700: hsla(0 0% 56% / 1);
		--theme-gray-800: hsla(0 0% 49% / 1);
		--theme-gray-900: hsla(0 0% 40% / 1);
		--theme-gray-1000: hsla(0 0% 9% / 1);
		--theme-blue-100: hsla(212 100% 97% / 1);
		--theme-blue-200: hsla(210 100% 96% / 1);
		--theme-blue-300: hsla(210 100% 94% / 1);
		--theme-blue-400: hsla(209 100% 90% / 1);
		--theme-blue-500: hsla(209 100% 80% / 1);
		--theme-blue-600: hsla(208 100% 66% / 1);
		--theme-blue-700: hsla(212 100% 48% / 1);
		--theme-blue-800: hsla(212 100% 41% / 1);
		--theme-blue-900: hsla(211 100% 42% / 1);
		--theme-blue-1000: hsla(211 100% 15% / 1);
		--theme-red-100: hsla(0 100% 97% / 1);
		--theme-red-200: hsla(0 100% 96% / 1);
		--theme-red-300: hsla(0 100% 95% / 1);
		--theme-red-400: hsla(0 90% 92% / 1);
		--theme-red-500: hsla(0 82% 85% / 1);
		--theme-red-600: hsla(359 90% 71% / 1);
		--theme-red-700: hsla(358 75% 59% / 1);
		--theme-red-800: hsla(358 70% 52% / 1);
		--theme-red-900: hsla(358 66% 48% / 1);
		--theme-red-1000: hsla(355 49% 15% / 1);
		--theme-amber-100: hsla(39 100% 95% / 1);
		--theme-amber-200: hsla(44 100% 92% / 1);
		--theme-amber-300: hsla(43 96% 90% / 1);
		--theme-amber-400: hsla(42 100% 78% / 1);
		--theme-amber-500: hsla(38 100% 71% / 1);
		--theme-amber-600: hsla(36 90% 62% / 1);
		--theme-amber-700: hsla(39 100% 57% / 1);
		--theme-amber-800: hsla(35 100% 52% / 1);
		--theme-amber-900: hsla(30 100% 32% / 1);
		--theme-amber-1000: hsla(20 79% 17% / 1);
		--theme-green-100: hsla(120 60% 96% / 1);
		--theme-green-200: hsla(120 60% 95% / 1);
		--theme-green-300: hsla(120 60% 91% / 1);
		--theme-green-400: hsla(122 60% 86% / 1);
		--theme-green-500: hsla(124 60% 75% / 1);
		--theme-green-600: hsla(125 60% 64% / 1);
		--theme-green-700: hsla(131 41% 46% / 1);
		--theme-green-800: hsla(132 43% 39% / 1);
		--theme-green-900: hsla(133 50% 32% / 1);
		--theme-green-1000: hsla(128 29% 15% / 1);
		--theme-teal-100: hsla(169 70% 96% / 1);
		--theme-teal-200: hsla(167 70% 94% / 1);
		--theme-teal-300: hsla(168 70% 90% / 1);
		--theme-teal-400: hsla(170 70% 85% / 1);
		--theme-teal-500: hsla(170 70% 72% / 1);
		--theme-teal-600: hsla(170 70% 57% / 1);
		--theme-teal-700: hsla(173 80% 36% / 1);
		--theme-teal-800: hsla(173 83% 30% / 1);
		--theme-teal-900: hsla(174 91% 25% / 1);
		--theme-teal-1000: hsla(171 80% 13% / 1);
		--theme-purple-100: hsla(276 100% 97% / 1);
		--theme-purple-200: hsla(277 87% 97% / 1);
		--theme-purple-300: hsla(274 78% 95% / 1);
		--theme-purple-400: hsla(276 71% 92% / 1);
		--theme-purple-500: hsla(274 70% 82% / 1);
		--theme-purple-600: hsla(273 72% 73% / 1);
		--theme-purple-700: hsla(272 51% 54% / 1);
		--theme-purple-800: hsla(272 47% 45% / 1);
		--theme-purple-900: hsla(274 71% 43% / 1);
		--theme-purple-1000: hsla(276 100% 15% / 1);
		--theme-pink-100: hsla(330 100% 96% / 1);
		--theme-pink-200: hsla(340 90% 96% / 1);
		--theme-pink-300: hsla(340 82% 94% / 1);
		--theme-pink-400: hsla(341 76% 91% / 1);
		--theme-pink-500: hsla(340 75% 84% / 1);
		--theme-pink-600: hsla(341 75% 73% / 1);
		--theme-pink-700: hsla(336 80% 58% / 1);
		--theme-pink-800: hsla(336 74% 51% / 1);
		--theme-pink-900: hsla(336 65% 45% / 1);
		--theme-pink-1000: hsla(333 74% 15% / 1);
	}

	.dark,
	[data-theme='dark'] {
		color-scheme: dark;

		--theme-background-default: hsl(0, 0%, 4%);
		--theme-background-subtle: hsl(0, 0%, 0%);
		--theme-background-card: hsl(240, 10%, 3.9%);
		--theme-background-card-foreground: hsl(0, 0%, 98%);
		--theme-border-default: hsl(240, 3.7%, 15.9%);
		--theme-input-default: hsl(240, 3.7%, 15.9%);

		--theme-gray-100: hsla(0 0% 10% / 1);
		--theme-gray-200: hsla(0 0% 12% / 1);
		--theme-gray-300: hsla(0 0% 16% / 1);
		--theme-gray-400: hsla(0 0% 18% / 1);
		--theme-gray-500: hsla(0 0% 27% / 1);
		--theme-gray-600: hsla(0 0% 53% / 1);
		--theme-gray-700: hsla(0 0% 56% / 1);
		--theme-gray-800: hsla(0 0% 49% / 1);
		--theme-gray-900: hsla(0 0% 63% / 1);
		--theme-gray-1000: hsla(0 0% 93% / 1);
		--theme-blue-100: hsla(216 50% 12% / 1);
		--theme-blue-200: hsla(214 59% 15% / 1);
		--theme-blue-300: hsla(213 71% 20% / 1);
		--theme-blue-400: hsla(212 78% 23% / 1);
		--theme-blue-500: hsla(211 86% 27% / 1);
		--theme-blue-600: hsla(206 100% 50% / 1);
		--theme-blue-700: hsla(212 100% 48% / 1);
		--theme-blue-800: hsla(212 100% 41% / 1);
		--theme-blue-900: hsla(210 100% 66% / 1);
		--theme-blue-1000: hsla(206 100% 96% / 1);
		--theme-red-100: hsla(357 37% 12% / 1);
		--theme-red-200: hsla(357 46% 16% / 1);
		--theme-red-300: hsla(356 54% 22% / 1);
		--theme-red-400: hsla(357 55% 26% / 1);
		--theme-red-500: hsla(357 60% 32% / 1);
		--theme-red-600: hsla(358 75% 59% / 1);
		--theme-red-700: hsla(358 75% 59% / 1);
		--theme-red-800: hsla(358 69% 52% / 1);
		--theme-red-900: hsla(358 100% 69% / 1);
		--theme-red-1000: hsla(353 90% 96% / 1);
		--theme-amber-100: hsla(35 100% 8% / 1);
		--theme-amber-200: hsla(32 100% 10% / 1);
		--theme-amber-300: hsla(33 100% 15% / 1);
		--theme-amber-400: hsla(35 100% 17% / 1);
		--theme-amber-500: hsla(35 91% 22% / 1);
		--theme-amber-600: hsla(39 85% 49% / 1);
		--theme-amber-700: hsla(39 100% 57% / 1);
		--theme-amber-800: hsla(35 100% 52% / 1);
		--theme-amber-900: hsla(35 100% 52% / 1);
		--theme-amber-1000: hsla(40 94% 93% / 1);
		--theme-green-100: hsla(136 50% 9% / 1);
		--theme-green-200: hsla(137 50% 12% / 1);
		--theme-green-300: hsla(136 50% 14% / 1);
		--theme-green-400: hsla(135 70% 16% / 1);
		--theme-green-500: hsla(135 70% 23% / 1);
		--theme-green-600: hsla(135 70% 34% / 1);
		--theme-green-700: hsla(131 41% 46% / 1);
		--theme-green-800: hsla(132 43% 39% / 1);
		--theme-green-900: hsla(131 43% 57% / 1);
		--theme-green-1000: hsla(136 73% 94% / 1);
		--theme-teal-100: hsla(169 78% 7% / 1);
		--theme-teal-200: hsla(170 74% 9% / 1);
		--theme-teal-300: hsla(171 75% 13% / 1);
		--theme-teal-400: hsla(171 85% 13% / 1);
		--theme-teal-500: hsla(172 85% 20% / 1);
		--theme-teal-600: hsla(172 85% 32% / 1);
		--theme-teal-700: hsla(173 80% 36% / 1);
		--theme-teal-800: hsla(173 83% 30% / 1);
		--theme-teal-900: hsla(174 90% 41% / 1);
		--theme-teal-1000: hsla(166 71% 93% / 1);
		--theme-purple-100: hsla(283 30% 12% / 1);
		--theme-purple-200: hsla(281 38% 16% / 1);
		--theme-purple-300: hsla(279 44% 23% / 1);
		--theme-purple-400: hsla(277 46% 28% / 1);
		--theme-purple-500: hsla(274 49% 35% / 1);
		--theme-purple-600: hsla(272 51% 54% / 1);
		--theme-purple-700: hsla(272 51% 54% / 1);
		--theme-purple-800: hsla(272 47% 45% / 1);
		--theme-purple-900: hsla(275 80% 71% / 1);
		--theme-purple-1000: hsla(281 73% 96% / 1);
		--theme-pink-100: hsla(335 32% 12% / 1);
		--theme-pink-200: hsla(335 43% 16% / 1);
		--theme-pink-300: hsla(335 47% 21% / 1);
		--theme-pink-400: hsla(335 51% 22% / 1);
		--theme-pink-500: hsla(335 57% 27% / 1);
		--theme-pink-600: hsla(336 75% 40% / 1);
		--theme-pink-700: hsla(336 80% 58% / 1);
		--theme-pink-800: hsla(336 74% 51% / 1);
		--theme-pink-900: hsla(341 90% 67% / 1);
		--theme-pink-1000: hsla(333 90% 96% / 1);
	}
}

@theme inline {
	--color-*: initial;
	--font-sans: 'Figtree Variable', sans-serif;
	--font-mono: 'Geist Mono', monospace;

	--background-color-default: var(--theme-background-default);
	--background-color-subtle: var(--theme-background-subtle);
	--background-color-card: var(--theme-background-card);
	--background-color-card-foreground: var(--theme-background-card-foreground);
	--border-color-default: var(--theme-border-default);
	--input-color-default: var(--theme-input-default);

	--color-gray-100: var(--theme-gray-100);
	--color-gray-200: var(--theme-gray-200);
	--color-gray-300: var(--theme-gray-300);
	--color-gray-400: var(--theme-gray-400);
	--color-gray-500: var(--theme-gray-500);
	--color-gray-600: var(--theme-gray-600);
	--color-gray-700: var(--theme-gray-700);
	--color-gray-800: var(--theme-gray-800);
	--color-gray-900: var(--theme-gray-900);
	--color-gray-1000: var(--theme-gray-1000);
	--color-blue-100: var(--theme-blue-100);
	--color-blue-200: var(--theme-blue-200);
	--color-blue-300: var(--theme-blue-300);
	--color-blue-400: var(--theme-blue-400);
	--color-blue-500: var(--theme-blue-500);
	--color-blue-600: var(--theme-blue-600);
	--color-blue-700: var(--theme-blue-700);
	--color-blue-800: var(--theme-blue-800);
	--color-blue-900: var(--theme-blue-900);
	--color-blue-1000: var(--theme-blue-1000);
	--color-red-100: var(--theme-red-100);
	--color-red-200: var(--theme-red-200);
	--color-red-300: var(--theme-red-300);
	--color-red-400: var(--theme-red-400);
	--color-red-500: var(--theme-red-500);
	--color-red-600: var(--theme-red-600);
	--color-red-700: var(--theme-red-700);
	--color-red-800: var(--theme-red-800);
	--color-red-900: var(--theme-red-900);
	--color-red-1000: var(--theme-red-1000);
	--color-amber-100: var(--theme-amber-100);
	--color-amber-200: var(--theme-amber-200);
	--color-amber-300: var(--theme-amber-300);
	--color-amber-400: var(--theme-amber-400);
	--color-amber-500: var(--theme-amber-500);
	--color-amber-600: var(--theme-amber-600);
	--color-amber-700: var(--theme-amber-700);
	--color-amber-800: var(--theme-amber-800);
	--color-amber-900: var(--theme-amber-900);
	--color-amber-1000: var(--theme-amber-1000);
	--color-green-100: var(--theme-green-100);
	--color-green-200: var(--theme-green-200);
	--color-green-300: var(--theme-green-300);
	--color-green-400: var(--theme-green-400);
	--color-green-500: var(--theme-green-500);
	--color-green-600: var(--theme-green-600);
	--color-green-700: var(--theme-green-700);
	--color-green-800: var(--theme-green-800);
	--color-green-900: var(--theme-green-900);
	--color-green-1000: var(--theme-green-1000);
	--color-teal-100: var(--theme-teal-100);
	--color-teal-200: var(--theme-teal-200);
	--color-teal-300: var(--theme-teal-300);
	--color-teal-400: var(--theme-teal-400);
	--color-teal-500: var(--theme-teal-500);
	--color-teal-600: var(--theme-teal-600);
	--color-teal-700: var(--theme-teal-700);
	--color-teal-800: var(--theme-teal-800);
	--color-teal-900: var(--theme-teal-900);
	--color-teal-1000: var(--theme-teal-1000);
	--color-purple-100: var(--theme-purple-100);
	--color-purple-200: var(--theme-purple-200);
	--color-purple-300: var(--theme-purple-300);
	--color-purple-400: var(--theme-purple-400);
	--color-purple-500: var(--theme-purple-500);
	--color-purple-600: var(--theme-purple-600);
	--color-purple-700: var(--theme-purple-700);
	--color-purple-800: var(--theme-purple-800);
	--color-purple-900: var(--theme-purple-900);
	--color-purple-1000: var(--theme-purple-1000);
	--color-pink-100: var(--theme-pink-100);
	--color-pink-200: var(--theme-pink-200);
	--color-pink-300: var(--theme-pink-300);
	--color-pink-400: var(--theme-pink-400);
	--color-pink-500: var(--theme-pink-500);
	--color-pink-600: var(--theme-pink-600);
	--color-pink-700: var(--theme-pink-700);
	--color-pink-800: var(--theme-pink-800);
	--color-pink-900: var(--theme-pink-900);
	--color-pink-1000: var(--theme-pink-1000);

	/* Pokemon Type Colors */
	--color-pkmn-normal: hsla(60 21% 57% / 1);
	--color-pkmn-fire: hsla(26 85% 56% / 1);
	--color-pkmn-water: hsla(221 82% 66% / 1);
	--color-pkmn-electric: hsla(48 93% 57% / 1);
	--color-pkmn-grass: hsla(98 52% 54% / 1);
	--color-pkmn-ice: hsla(177 47% 72% / 1);
	--color-pkmn-fighting: hsla(2 66% 46% / 1);
	--color-pkmn-poison: hsla(301 45% 44% / 1);
	--color-pkmn-ground: hsla(43 68% 64% / 1);
	--color-pkmn-flying: hsla(256 81% 76% / 1);
	--color-pkmn-psychic: hsla(342 93% 65% / 1);
	--color-pkmn-bug: hsla(67 75% 41% / 1);
	--color-pkmn-rock: hsla(50 54% 46% / 1);
	--color-pkmn-ghost: hsla(266 27% 47% / 1);
	--color-pkmn-dragon: hsla(257 97% 60% / 1);
	--color-pkmn-dark: hsla(24 23% 36% / 1);
	--color-pkmn-steel: hsla(240 19% 76% / 1);
	--color-pkmn-fairy: hsla(330 50% 68% / 1);
	--color-pkmn-unknown: hsla(163 23% 52%/ 1);
	--color-pkmn-shadow: hsla(0 0% 0% / 1);
}
